<!DOCTYPE html>
<html data-ng-app="youradventure">
<head>
    <title>My Adventure</title>

    <link rel="stylesheet" href="bootstrap.min.css">

    <script src="gl-matrix/common.js"></script>
    <script src="gl-matrix/vec2.js"></script>
    <script src="gl-matrix/vec3.js"></script>
    <script src="gl-matrix/vec4.js"></script>
    <script src="gl-matrix/mat4.js"></script>
    <script src="jquery-2.1.1.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="bootstrap-js.min.js"></script>
    <script src="Box2dWeb-2.1.a.3.js"></script>

    <script src="input.js"></script>
    <script src="utilities.js"></script>
    <script src="scripts.js"></script>
    <script src="physics.js"></script>
    <script src="renderer.js"></script>
    <script src="game.js"></script>
    <script src="code.js"></script>
    
    <link href="bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <script src="bootstrap-colorpicker-master/dist/js/bootstrap-colorpicker.min.js"></script>

    <!-- Fragment shader program -->
    <script id="shader-fs" type="x-shader/x-fragment">
        uniform highp vec4 color;
        
        void main(void)
        {
            gl_FragColor = color;
        }
    </script>
    
    <!-- Vertex shader program -->
    <script id="shader-vs" type="x-shader/x-vertex">
      attribute vec3 aVertexPosition;
    
      uniform mat4 uWMatrix;
      uniform mat4 uVPMatrix;
    
      void main(void)
      {
        gl_Position = uVPMatrix * uWMatrix * vec4(aVertexPosition, 1.0);
      }
    </script>

</head>
<body id="body" data-ng-controller="MainCtrl" onload="init()">
    <!-- navbar -->
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">My Adventure</span>
        </div>
    </div>
    <!-- /navbar -->

    <!-- content -->
    <div class="container-fluid">
        <div class="row">
            <!-- canvas -->
            <div class="col-md-6">
                <canvas id="canvas"
                        width="940" height="720"
                        tabindex="0"
                        data-ng-mousedown="mouseDown($event)"
                        data-ng-mouseup="mouseUp()"
                        data-ng-mouseout="mouseUp()"
                        data-ng-mousemove="mouseMove()">
                </canvas>
            </div>
            <!-- /canvas -->

            <!-- sidebar -->
            <div class="col-md-6">
                <!-- tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#game" data-toggle="tab">Game customization</a></li>
                    <li><a href="#actor" data-toggle="tab">Actor customization</a></li>
                    <li><a href="#scripts" data-toggle="tab">Scripts</a></li>
                </ul>
                <!-- /tabs -->

                <!-- tabs content -->
                <div class="tab-content">
                    <!-- GAME CUSTOMIZATION -->
                    <div class="tab-pane fade in active" id="game">
                        <br>
                        <div class="form-group">
                            <input type="button" data-ng-click="running = !running"
                               value="{{running ? 'Pause' : 'Start'}}"
                               class="btn btn-primary btn-lg">
                        </div>
                        <div class="form-group">
                            <label>Player:</label>
                            <select data-ng-options="actor.name for actor in game.actors"
                                    data-ng-model="game.player">
                                <option value="">-- choose actor --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Background color:</label>
                            <br>
                            <div class="backgroundColorPick inl-bl colorpicker-element"
                                     data-container="true"
                                     data-color="rgb(0,0,0)"
                                     data-inline="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Gravity:</label>
                            <br>
                            <input type="number"
                                   data-ng-model="game.gravity"
                                   data-ng-disabled="game.running">
                        </div>
                        <div class="form-group">
                            <label>View distance:</label>
                            <br>
                            <input type="number"
                                   data-ng-model="viewDistance">
                        </div>
                    </div>
                    <!-- /GAME CUSTOMIZATION -->

                    <!-- ACTOR CUSTOMIZATION -->
                    <div class="tab-pane fade" id="actor">
                        <br>
                        <div class="form-group">
                            <input type="button" value="New Actor"
                                   class="btn btn-info"
                                   data-ng-disabled="game.running"
                                   onclick="game.addActor(vec3.fromValues(0,3,-4),
                                                          vec3.fromValues(5,5,1),
                                                          0,
                                                          vec4.fromValues(0.0,0.5,0.8,1),
                                                          b2Body.b2_dynamicBody)">
                        </div>

                        <p><span id="helper_span"></span></p>

                        <div data-ng-show="selectedActor !== null"
                             class="form-group">
                            <h3>Selected Actor:</h3>
                            <div class="form-group">
                                <label>Name:</label>
                                <br>
                                <input type="text"
                                       data-ng-model="selectedActor.name">
                            </div>
                            <div class="form-group">
                                <label>Color:</label>
                                <br>
                                <div class="selectedColorPick inl-bl colorpicker-element"
                                     data-container="true"
                                     data-color="rgb(50,216,62)"
                                     data-inline="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Script:</label>
                                <br>
                                <select data-ng-model="selectedActor.script"
                                        data-ng-options="script.name for script in scripts"
                                        class="form-control">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Type:</label>
                                <br>
                                <select data-ng-model="selectedActor.type"
                                        data-ng-options="k for (k,v) in actorTypes"
                                        class="form-control">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Class:</label>
                                <br>
                                <input type="text"
                                       data-ng-model="selectedActor.actorClass">
                            </div>
                        </div>
                    </div>
                    <!-- /ACTOR CUSTOMIZATION -->

                    <!-- SCRIPTS -->
                    <div class="tab-pane fade row" id="scripts">
                        <br>
                        <div class="col-md-4 form-group">
                            <div class="form-group">
                                <input type="button" value="New Script"
                                       class="btn btn-info"
                                       data-ng-click="game.newScript()">
                            </div>
                            <div class="form-group">
                                <h3 class="page-header">Scripts</h3>
                                <select data-ng-options="script.name for script in scripts"
                                        data-ng-model="selectedScript"
                                        class="form-control"
                                        autofocus>
                                </select>
                            </div>
                            <div data-ng-if="selectedScript !== null"
                                 class="form-group">
                                <h3>Script Details:</h3>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <br>
                                    <input type="text" data-ng-model="selectedScript.name"
                                           class="form-control">
                                </div>
                                <label class="form-group">Number of Rules: {{selectedScript.rules.length}}</label>
                            </div>
                        </div>
                        <div data-ng-if="selectedScript !== null"
                             class="col-md-8 form-group">

                            <div class="form-group">
                                <input type="button" value="New Rule"
                                       class="btn btn-default"
                                       data-ng-click="selectedScript.newRule()">
                            </div>

                            <!-- rules list -->
                            <h3 class="page-header">Rules List</h3>
                            <!-- scrool spy -->
                            <div style="height:320px; overflow: auto;">
                                <div data-ng-repeat="rule in selectedScript.rules">
                                    <h4><strong>Rule {{$index+1}}</strong></h4>
                                    <div class="form-group">
                                        <h4>Conditions</h4>
                                        <div data-ng-repeat="condition in rule.conditions">
                                            <div class="form-group">
                                                <select data-ng-model="condition.args.not"
                                                        data-ng-options="key for (key, value) in ifnot"
                                                        class="form-control">
                                                </select>
                                                <label>{{condition.snippet.name}}</label>
                                                <br>
                                                <span data-ng-repeat="argument in condition.snippet.argsDescs">
                                                    <label>{{argument.name}}:</label>
                                                    <br>
                                                    <span data-ng-switch="argument.type">
                                                        <span data-ng-switch-when="select">
                                                            <select data-ng-model="condition.args[argument.name]"
                                                                    data-ng-options="key for (key, value) in argument.selectOptions"
                                                                    class="form-control">
                                                            </select>
                                                        </span>
                                                        <span data-ng-switch-when="text">
                                                            <input type="text"
                                                                   data-ng-model="condition.args[argument.name]"
                                                                   class="form-control">
                                                        </span>
                                                        <span data-ng-switch-when="number">
                                                            <input type="number"
                                                                   data-ng-model="condition.args[argument.name]"
                                                                   class="form-control">
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- new condition -->
                                        <div class="form-group">
                                            <label><strong>New Condition:</strong></label>
                                            <br>
                                            <select data-ng-model="newCondition"
                                                    data-ng-options="cond.name for cond in conditions"
                                                    class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="button" value="Create"
                                                   data-ng-click="rule.newCondition(newCondition)"
                                                   class="btn btn-default btn-sm">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <h4>Actions</h4>
                                        <div data-ng-repeat="action in rule.actions">
                                            <div class="form-group">
                                                <label><strong>{{action.snippet.name}}</strong></label>
                                                <br>
                                                <div data-ng-repeat="argument in action.snippet.argsDescs">
                                                    <div class="form-group">
                                                        <label>{{argument.name}}</label>
                                                        <br>
                                                        <span data-ng-switch="argument.type">
                                                            <span data-ng-switch-when="select">
                                                                <select data-ng-model="action.args[argument.name]"
                                                                        data-ng-options="key for (key, value) in argument.selectOptions"
                                                                        class="form-control">
                                                                </select>
                                                            </span>
                                                            <span data-ng-switch-when="text">
                                                                <input type="text" data-ng-model="action.args[argument.name]"
                                                                       class="form-control">
                                                            </span>
                                                            <span data-ng-switch-when="number">
                                                                <input type="number" data-ng-model="action.args[argument.name]"
                                                                       class="form-control">
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- new action -->
                                    <div class="form-group">
                                        <label><strong>New Action:</strong></label>
                                        <br>
                                        <select data-ng-model="newAction"
                                                data-ng-options="action.name for action in actions"
                                                class="form-control">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" value="Create"
                                               data-ng-click="rule.newAction(newAction)"
                                               class="btn btn-default btn-sm">
                                    </div>
                                    <br>
                                </div>
                                <!-- /rules list -->
                            </div>
                            <!-- /scrool spy -->
                        </div>
                    </div>
                    <!-- /SCRIPTS -->
                </div>
                <!-- /tabs content -->
            </div>
            <!-- /sidebar -->
        </div>
    </div>
    <!-- /content -->

</body>
</html>
