<!DOCTYPE html>
<html data-ng-app="youradventure">
<head>
    <title>My Adventure</title>
    <script src="gl-matrix/common.js"></script>
    <script src="gl-matrix/vec2.js"></script>
    <script src="gl-matrix/vec3.js"></script>
    <script src="gl-matrix/vec4.js"></script>
    <script src="gl-matrix/mat4.js"></script>
    <script src="jquery-2.1.1.min.js"></script>
    <script src="angular.min.js"></script>
    
    <script src="input.js"></script>
    <script src="utilities.js"></script>
    <script src="scripts.js"></script>
    <script src="renderer.js"></script>
    <script src="game.js"></script>
    <script src="code.js"></script>
    
    <!-- Fragment shader program -->

    <script id="shader-fs" type="x-shader/x-fragment">
        uniform highp vec4 color;
        
        void main(void)
        {
            gl_FragColor = color;
        }
    </script>
    
    <!-- Vertex shader program -->
    
    <script id="shader-vs" type="x-shader/x-vertex">
      attribute vec3 aVertexPosition;
    
      uniform mat4 uWMatrix;
      uniform mat4 uVPMatrix;
    
      void main(void)
      {
        gl_Position = uVPMatrix * uWMatrix * vec4(aVertexPosition, 1.0);
      }
    </script>
</head>
<body id="body" data-ng-controller="MainCtrl" onload="init()">
    <canvas id="canvas"
            width="640" height="480"
            tabindex="0"
            data-ng-mousedown="mouseDown($event)"
            data-ng-mouseup="mouseUp()"
            data-ng-mouseout="mouseUp()"
            data-ng-mousemove="mouseMove()"></canvas>
    <p>Background color: <input type="color"
                                data-ng-model="backgroundColor"></p>

    <p><input type="button" value="New Actor" onclick="game.addActor('actor', vec3.fromValues(300,200,-4),
                       vec3.fromValues(150,100,1),
                       0,
                       vec4.fromValues(0.0,0.5,0.8,1))"></p>

    <p><span id="helper_span"></span></p>

    <div data-ng-show="selectedActor !== null">
        <h2> Selected Actor:</h2>
        <p>Name: <input type="text"
                        data-ng-model="selectedActor.name"></p>
        <p>Color: <input type="color"
                         data-ng-model="selectedColor"></p>
    </div>

    <div>
        <h2>Scripts:</h2>
            <div data-ng-repeat="script in scripts"
                data-ng-click="selectScript(script)">
                {{script.name}}
            </div>
    </div>

    <div data-ng-if="selectedScript !== null">
        <h3>Script Details:</h3>
        Name: <input type="text" data-ng-model="selectedScript.name">
        Number of Rules: {{selectedScript.rules.length}}

        <div data-ng-repeat="rule in selectedScript.rules">
            <h4>Rule {{$index}}</h4>
            Conditions:
            <p data-ng-repeat="condition in rule.conditions">
                {{condition.snippet.name}}
            </p>
            Actions:
            <p data-ng-repeat="action in rule.actions">
                {{action.snippet.name}}
            </p>
        </div>

    </div>

</body>
</html>
